@charset "EUC-KR";
a:link, a:visited {
  font-size:20px;
  color: #000040;
 
  text-align: center;
  text-decoration: none;
  
}

a:hover, a:active {
  background-color: #8080ff;
}

.center {
  
  text-align: center;
  border: 4px solid green;
}
p.outset {border-style: outset;}
